body {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

table {
    border: 1px solid black;
}

td {
    padding: 15px;
    font-size: 12px;
}

.back {
    float: right;
}